body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.bg-img {
    background-image: url("image/donation4.png");
    background-repeat: no-repeat;
    height: 250px;
    width: 2120pzpx;
    padding-top: 150;
}

.text-color-orenge {
    text-align: center;
    color: rgb(255, 164, 103);
}

p {
    text-align: center;
    color: white;

}

.ancohr-butoon {
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 600px;
}
.ancohr-n{
    background: linear-gradient( lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 1000px;
    margin-left: 600px;

}

.peeragraph {
    text-align: center;
    color: #000;
}

.btn {
    position: relative;
    box-sizing: content-box;
    text-align: center;
    padding: 10px 20px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    margin-left: 200px;
}

.btn:hover {
    background-color: burlywood;
    color: white;

}

.section-hight {
    height: 40px;
}

.btn-box-n {
    position: relative;
    box-sizing: 100px;
    text-align: top;
    padding: 10px 20px;
    background-color: rgb(3, 230, 192);
    font-size: 18px;
    margin-left: 80px;
}

.btn-box-m {
    position: relative;
    box-sizing: 100px;
    text-align: top;
    padding: 10px 20px;
    background-color: rgb(253, 204, 204);
    font-size: 18px;
    margin-left: 80px;
}

.btn-box-o {
    position: relative;
    box-sizing: 100px;
    text-align: top;
    padding: 10px 20px;
    background-color: rgb(221, 120, 213);
    font-size: 18px;
    margin-left: 80px;
}

.pera {
    text-align: left;
    color: #000;
}

.section4 {
    display: flex;
    height: 200px;
}

.half-width {
    width: 50%;
    margin-top: 100px;
}

.half-width-img {
    height: 10px;
    width: 50%;
    float: right;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 2%;
}

.id {
    text-align: left;
    color: #000;
}
.last{
    margin-top: 1100px;
    margin-left: 600px;
    color: rgb(19, 62, 255);
}
.last-pera{
    color: #000;
}
.item{
    background-color: rgb(255, 247, 137);
    align-items: center;
    margin-left: 600px;
}
footer {
    background-color: blue;
    margin-top: 1500px;
    box-sizing: border-box;
}