body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bg-img{
    background-image: url("image/donation4.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 2120pzpx;
    padding-top: 150 ;
}

.text-color-orenge{
    text-align: center;
    color: rgb(255,164,103);
}
p{  
    text-align: center;
    color: white;

}
.ancohr-butoon{
    background: linear-gradient(45deg, lightsalmon,tomato);
    padding:10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.peeragraph{
    text-align: center;
    color: #000;
}
.btn{
    box-sizing: content-box;
    outline:none;
    padding: 10px 20px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover{
    background-color: burlywood;
    color: white;
}